
.page-bg {
    background-color: #7c7c7c;
}

.horizontal {
    display: flex;
    flex-direction: row;
}

.vertical {
    display: flex;
    flex-direction: column;
}

.stack {
    align-items: flex-start;
    align-content: flex-start;
}

.push {
    align-items: flex-end;
    align-content: flex-end;
}

.center {
    align-items: center;
    align-content: center;
}

.margin-left {
    margin-left: 20px;
}

.section-separator {
    margin-top: 1.2em;
    margin-bottom: 1.2em;
}

.beta-warning {
    font-size: 1.5em;
    color:indigo;
    margin-bottom: 1em;
}

.units {
    margin-top: 0.4em;
    margin-left: 0.5em;
    font-size: 1.5em;
}

.prompt-box {
    border: solid #4c4c4c;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
    background-color:#7c7c7c;
    margin-right: 20px;
}

.prompt-box:hover {
    border-color: white;
    background-color:#acacac;
}

.inline-input {
    margin-left: 0.5em;
    margin-top: 0.5em;
}

.inline-units {
    margin-left: 0.5em;
    font-size: 1.5em;
    margin-top: 0.5em;
}

.input[type=number] {
    border-radius: 5px;
    font-size: 1.5em;
    background-color: #f4f4f4;
    color: #1e1e1e;
}

.input[type=number] {
    text-align: right;
}

.input:invalid {
    text-align: left;
    background-color: red;
}

.input[type=number].two-digits {
    width: 2em;
}

.input[type=number].milli-decimal {
    width: 5em;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #1e1e1e;
    opacity: 1; /* Firefox */
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #1e1e1e;
}
::-ms-input-placeholder { /* Microsoft Edge */
    color: #1e1e1e;
}

.parameter-name {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    color: #1e1e1e;
}

.parameter-value {
    font-size: 1.5em;
    border-radius: 5px;
}

.choice-button {
    width: auto;
    font-size: 1em;
    margin-left: 5px;
    margin-right: 5px;
    border-width: 2px;
    border-radius: 10px;
    background-color: grey;
}

.choice-button:hover {
    border-width: 3px;
    margin-right: 3px;
    background-color: white;
}

.choice-button:disabled {
    border-width: 2px;
    background-color: white;
    color: black;
}

.choice-button:disabled.choice-button:hover {
    border-width: 2px;
    margin-right: 5px;
    background-color: white;
}

.output-title {
    margin-top: 0.5em;
    margin-left: 0.5em;
    font-size: 1.5em;
    color: #1e1e1e;
    text-align: center;
}

.output-box {
    border: solid black 2px;
    background-color: #4c4c4c;
    color: #f6f6f6;
    padding: 10px;
    margin-top: 15px;
    margin-left: 10px;
    animation: none;
}

@keyframes pulse {
    0%, 100% {
        border-color: black;
    }
    30% {
        border-color: white;
    }
}

@keyframes fade {
    0%, 100% {
        border-color: black;
    }
    10% {
        border-color: white;
    }
}

.pulse {
    animation: pulse 2s;
}

.fade {
    animation: fade 1s;
}

.output-value {
    margin-top: 0.5em;
    margin-left: 0.5em;
    font-size: 1.5em;
}

.units {
    margin-left: 0.5em;
    font-size: 1.5em;
    margin-bottom: 0.3em;
}

.maths-symbol {
    font-size: 2em;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 0.5em;
    color: #1e1e1e
}

.optional-section {
    font-size: 1.5em;
}

.bracketed {
    font-size: 1.5em;
    margin-top: 12px;
    margin-left: 0.8em;
}

.small-list {
    margin-top: 5px;
}

.small-list-title {
    margin-bottom: 4px;
}

.small-list-subtitle {
    margin-bottom: 80px;
}

.small-list-point {
    margin-top: 3px;
}